*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: inherit;
}

html {
  line-height: 1.15;
}

body,
input,
textarea {
  font-family: "Public Sans";
  color: var(--color-shark);
}

body,
p {
  margin: 0;
}
