{
  "customSyntax": "postcss-scss",
  "extends": ["stylelint-config-standard", "stylelint-config-recommended"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "color-function-notation": "legacy",
    "font-family-no-missing-generic-family-keyword": null,
    "declaration-empty-line-before": "never",
    "import-notation": null,
    "length-zero-no-unit": null,
    "at-rule-empty-line-before": [
      "always",
      {
        "ignore": ["inside-block", "blockless-after-blockless"]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["quote", "map-get", "resolve", "get-percent"]
      }
    ],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "use",
          "mixin",
          "include",
          "function",
          "return",
          "if",
          "else",
          "extend",
          "at-root",
          "for",
          "each"
        ]
      }
    ]
  }
}
